#content-bottom {
    background: #ffe6cc;
    height: 12vh;
    display: flex;
    justify-content: space-between;
}

#houses img {
    height: 10vh;
    width: 7vw;
    margin-right: 8px;
}

#gen-map-button{
    padding: 14px 40px;
    border-radius: 12px;
    border: 3px solid #4caf50;
    margin-top: 0.5em;
    cursor: pointer;
}

#gen-map-button:hover {
    background: #999999;
}

#gen-map-button:active{
    background: #999999;
    box-shadow: 0 5px #999;
    transform: translateY(7px);
}

.victory-development {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.victory-development img {
    height: 9vh;
    width: 4vw;
}

.center-items{
    display: flex;
    align-items: center;
}

#resources label{
    margin-right: 8px;
}

#resources img {
    height: 9vh;
    width: 5vw;
}

label {
    font-size: 190%;
    color: #001a00;
    font-family: "Times New Roman";
    font-style: oblique;
}

#content-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

#content-left { /* THE MAP*/
    margin-right: 200px;
    height: 90%;
    /*width: 80%;*/
}

#content-right { /* THE CHAT */
    position: relative;
    text-align: center;
    float: right;
    width: 200px;
    height: 88vh;
}

#map-container {
    width: 100%;
    height: 100%;
}

button#gen-map-button {
    width: 150px;
}

#gen-options {
    padding: 20px 0px;
}

canvas#map-canvas {
    width: 100%;
    height: 100%;
    /*background-image: url("../images/ODRAR10.jpg");
    background-repeat: no-repeat;*/
}

body, html, canvas {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*******************************************/
/*

form { 
        display: flex;
        justify-content: flex-end;
        background: black; 
        position: fixed; 
      }
      form input { 
        border: 1px; 
        width: 50%; 
        height: 20px;
        background-color: chocolate;
      }
      form button { 
        border: 1px; 
        height: 20px;
        background: rgb(255, 189, 130);
      }
      #messages { 
        position: fixed;
        top:0;
        left: 20%;
        border:1px;
        list-style-type: none; 
        margin: 0; 
        padding: 0; 
      }
      #messages li { 
        padding: 5px 10px; 
      }
      #messages li:nth-child(odd) { 
        background: #eee; 
      }
*/
@import url(http://weloveiconfonts.com/api/?family=typicons);
[class*="typicons-"]:before {
    font-family: 'Typicons', sans-serif;
}

.module {
    width: 100%;
    /*margin: 20px auto;*/
}

.top-bar {
    background: #ac7339;
    color: white;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;
}

.top-bar h1 {
    display: inline;
    font-size: 1.1rem;
}

.top-bar .typicons-message {
    display: inline-block;
    padding: 4px 5px 2px 5px;
}

.top-bar .typicons-minus {
    position: relative;
    top: 3px;
}

.top-bar .left {
    float: left;
}

.top-bar .right {
    float: right;
    padding-top: 5px;
}

.top-bar > * {
    position: relative;
}

.top-bar::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;

    background: #cc9966;

}

.discussion {
    list-style: none;
    background: #e5e5e5;
    margin: 0;
    padding: 0 0 50px 0;
    height: 400px;
}

.discussion li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}

.discussion .avatar {
    width: 40px;
    position: relative;
}

.discussion .avatar img {
    display: block;
    width: 100%;
}

.other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.self {
    justify-content: flex-end;
    align-items: flex-end;
}

.self .messages {
    order: 1;
    border-bottom-right-radius: 0;
}

.self .avatar {
    order: 2;
}

.self .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.messages {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.messages p {
    font-size: 0.8rem;
    margin: 0 0 0.2rem 0;
}

.messages time {
    font-size: 0.7rem;
    color: #ccc;
}

@keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.2;
    }
}
